$main-black: #221f1f;
$secondary-black: #221f1f;
$main-blue: rgb(86, 69, 220);
$btn-grey:#918b86;
$secondary-orange: #db7c33;
$white-color: #fff;
$darker-white-color: #ebecf2;
$bg-white: #f7f7f7;
$green: rgb(10, 120, 30);
$red: rgb(206, 13, 49);
$light-red: rgb(255, 2, 49);
$grey: #A1A1A1;
$darker-grey: rgb(87, 87, 87);
$light-grey: #c3c2c2