@use 'colors' as *;
@use 'font' as *;
@use 'mixins' as *;

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables


// Bootstrap
@import 'bootstrap/scss/bootstrap';



*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	background-color: $darker-white-color;
	font-family: $main-font;
}

.wrapper {
	max-width: 1600px;
	margin: 0 auto;
}

.test {
	height: 100vh;
}

// NAVIGATION
// NAVIGATION
// NAVIGATION


.main-nav {
	background-color: $secondary-black;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

.nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	min-height: 80px;
	
	
	&__logo-box,
	&__login-box,
	&__language-box {
		display: inline-block;
	}

	&__logo-box {
		position: relative;
		margin-left: 25px;
		padding: 0px 5px;
		min-width: 130px;
		text-decoration: none;
	}

	&__logo {
		color: $darker-white-color;
		font-size: 2.5rem;
		font-weight: bold;
	}

	&__logo-name {
		margin-left: 10px;
		font-family: $secondary-font;
		font-size: 2rem;
		color: $darker-white-color;
	}

	&__mobile-box{
		display: inline-block;
		// position: relative;
		margin-top: 5px;
	}
	
	&__mobile-icon {
		border: 1px solid transparent;
		background-color: transparent;
		font-size: 1.2rem;
		font-weight: bold;
		color: $darker-white-color;
		cursor: pointer;
		// @include hover-style;
	}

	&__mobile-items-box {
		position: absolute;
		left: 0;
		top: 80px;
	}

	&__item-mobile {
		display: none;
		opacity: 0;
		width: 100vw;
		border-top: 1px solid $darker-white-color;
		background-color: $secondary-black;
		text-align: center;
		color: $darker-white-color;
		text-decoration: none;
		padding: 15px;
		font-size: 1.2rem;
		font-weight: bold;
		transition: color .3s;
		animation: navMobileAnimation .3s forwards;

		&:hover {
			color: $secondary-orange;
		}
		

		&:nth-child(2){
			animation-delay: .2s;
		}
		&:nth-child(3){
			animation-delay: .4s;
		}
		&:nth-child(4){
			animation-delay: .6s;
		}
		&:nth-child(5){
			animation-delay: .8s;
		}
		
		&:last-child{
			border-bottom: none;
		}
	}
	
	&__active {
		display: block;
	}

	&__items-box {
		display: none;
	}

	&__item {
		margin: 0 20px;
		color: $darker-white-color;
		text-decoration: none;
		font-size: 1.6rem;
		font-weight: bold;
		text-transform: uppercase;
		transition: color 0.3s;

		&:hover {
			color: $secondary-orange;
		}
	}

	&__login-box {
		margin-top: 5px;
	}

	&__login {
		position: relative;
		color: $darker-white-color;
		font-size: 1.2rem;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
	}

	&__language-box {
		position: relative;
		display: flex;
		margin-right: 0px;
		margin-top: 5px;
	}

	&__language-chosen {
		background: none;
		border: none;
		padding: 5px 10px;
		font-size: 1.2rem;
		font-weight: bold;
		color: $darker-white-color;
		cursor: pointer;
		margin-top: 5px;
	}

	&__language-btn-container {
		position: absolute;
		top: 52px;
		left: -5px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__language-btn {
		display: none;
		opacity: 0;
		border-top: 1px solid $darker-white-color;
		background-color: $secondary-black;
		text-align: center;
		font-weight: bold;
		color: $darker-white-color;
		font-size: 1.2rem;
		padding: 5px 10px;
		width: 50px;
		border: 1px solid transparent;
		cursor: pointer;
		animation: navLanguageAnimation .4s forwards;

		&:first-child {
			border-bottom: 1px solid $darker-white-color;
			border-top: 1px solid $darker-white-color;
		}

		&:nth-child(2){
			animation-delay: .2s;
		}
	}

	&__language-btn-active {
		display: block;
	}
}

// HEADER
// HEADER
// HEADER

.header {
	&__box {
		position: relative;
		width: 100%;
		min-height: 100vh;
		margin: 0 auto;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		
		width: 100%;
		height: 100%;
		background-size: cover;
		z-index: -5;
	}

	&__img-shadow {
		top: 0;
		left: 0;
		position: absolute;
		background: rgb(235,236,242);
		background: rgb(235,236,242);
		background: linear-gradient(90deg, rgba(235,236,242,0.9475140397956058) 19%, rgba(235,236,242,0.8746849081429446) 44%, rgba(44,62,187,0) 68%);
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	&__text-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 350px;
		margin-top: 20px;
		z-index: 0;
	}

	&__text-title {
		font-size: 3rem;
		text-align: center;
		margin-bottom: 25px;
	}

	&__text-title--company {
		font-size: 4rem;
		font-family: $secondary-font;
	}

	&__text {
		text-align: center;
		font-size: 1.6rem;
		line-height: 2em;
		margin-bottom: 20px;
	}

	&__text-btn {
		@include btn-style;
	}
}

// MAIN
// MAIN
// MAIN
.main {
	scroll-margin-top: 85px;
}
// OFFER

.offer {
	margin: 40px 20px;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__title {
		font-size: 3rem;
		font-family: $secondary-font;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	&__card-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	&__card {
		display: flex;
		flex-direction: column;
		// justify-content: center;
		background-color: $white-color;
		border-radius: 8px;
		margin: 20px 0px;
		box-shadow: 0px 3px 24px -6px rgba(66, 68, 90, 1);
		overflow: hidden;
		border: 1px solid rgba(66, 68, 90, 9);
		transition: color .3s, border .3s, transform .3s;

		&:hover {
			color: $secondary-orange;
			border: 1px solid $secondary-orange;
			transform: scale(1.05);
			.offer__card-element {
				color: $secondary-orange;
			}
		}
	}

	&__card-img {
		width: 100%;
		max-width: 480px;
		min-height: 200px;
		max-height: 350px;
	}

	&__card-text-box {
		margin: 15px;
	}

	&__card-title {
		text-align: center;
		font-size: 2.4rem;
		font-weight: 400;
	}
	
	&__card-text {
		margin: 10px 0;
		font-size: 1.4rem;
	}
	
	&__card-list {
		list-style: inside square;
	}
	
	
	&__card-list-element {
		color: $secondary-orange;
	}
	
	&__card-element {
		font-size: 1.4rem;
		font-style: italic;
		color: black;
		transition: color .3s;
	}

	&__btn {
		@include btn-style;
		text-align: center;
		margin-top: 25px;
		background-color: $white-color;
		font-size: 2rem;
		margin-bottom: 30px;
	}
}

// ABOUT-US
.about-us {
	background-color: $main-black;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 40px 0px;
		}
	
	&__img {
		display: block;
		width: 100%;
		max-height: 400px;
	}

	&__text-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: left;
		color: $darker-white-color;
	}

	&__title {
		font-size: 3rem;
		font-family: $secondary-font;
		text-align: center;
		text-transform: uppercase;
		margin: 30px 0px;
	}

	&__list {
		list-style: inside square;
		margin: 0px 20px;
		margin-bottom: 20px;
	}

	&__list-element {
		margin-bottom: 10px;
		color: $secondary-orange;
	}

	&__list-element--text {
		color: $white-color;
		line-height: 1.7em;
		font-style: italic;
	}
	
	
}

// KONTAKT 
.contact {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
	}

	&__title {
		font-family: $secondary-font;
		font-size: 3rem;
		margin-bottom: 30px;
		text-transform: uppercase;
		text-align: center;
	}

	&__form {
		display: flex;
		width: 100%;
		flex-direction: column;
	}
	
	&__form-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: left;
		margin: 10px 30px;
	}

	&__form-title {
		font-size: 1.5rem;
		font-style: italic;
	}

	&__form-input {
		width: 100%;
		border: 1px solid $secondary-black;
		padding: 5px;
	}

	&__form-textarea {
		width: 100%;
		resize: vertical;
		min-height: 100px;
		border: 1px solid $secondary-black;
		padding: 10px;
	}

	&__form-input, &__form-textarea {
		background: none;

		&:focus {
			outline: none;
			border: 1px solid $secondary-orange;
		}
	}

	&__form-btn {
		@include btn-style;
		width: 200px;
		margin: 20px 0;
		align-self: center;
	}
}

// NEWSLETTER
.newsletter {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 70px;
		background-color: $secondary-orange;
		height: 300px;
	}

	&__text {
		font-family: $secondary-font;
		font-size: 2.4rem;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	&__form-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	&__input {
		width: 80%;
		padding: 4px 8px;
		background-color: $darker-white-color;
		color: $main-black;
		text-align: center;
		border: 2px solid transparent;
		transition: border .3s;

		&:focus {
			outline: none;
			border: 2px solid $main-black;
		}
	}

	&__btn {
		margin-top: 20px;
		@include btn-style;

		&:hover {
			color: $darker-white-color;
			background-color: $main-black;
		}
	}
}



// FOOTER
.footer {
	background-color: $main-black;
	
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__localization-box {
		margin: 30px 10px;
		width: 280px;
		height: 200px;

		.footer__title {
			text-align: center;
			color: $darker-white-color;
		}
	}

	&__map {
		width: 100%;
		height: 100%;
	}

	&__text-containers {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: left;
	}

	&__text-container {
		margin-top: 20px;
		color: $darker-white-color;
	}

	&__title {
		font-family: $secondary-font;
		text-transform: uppercase;
		font-size: 1.6rem;
		margin-bottom: 3px;
	}

	&__title--email {
		margin-top: 20px;
	}

	&__text {
		font-style: italic;
		font-size: 1.4rem;
	}

	&__footer {
		text-align: center;
		color: $darker-white-color;
		margin-top: 20px;
		font-size: 1.3rem;
	}
}

// LOGIN
// LOGIN

.login {
	margin-top: 80px;
	background-color: $darker-white-color;
	
	&__container {
		min-height: 58vh;
		margin-top: 130px;
	}
	&__title {
		text-align: center;
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 20px auto;
		margin-top: 40px;
	}

	&__label {
		display: inline-block;
		width: 80%;
		max-width: 400px;
		text-align: left;
		text-transform: uppercase;
		font-weight: bold;
		font-style: italic;
		font-size: 1.4rem;
		margin-bottom: 2px;
	}

	&__input {
		margin-bottom: 15px;
		padding: 2px 4px;
		width: 80%;
		max-width: 400px;
		border-radius: 3px;
		border: 1px solid $main-black;

		&:focus {
			outline: none;
			border: 1px solid $secondary-orange;
		}
	}

	&__btn {
		margin: 10px auto;
		@include btn-style;
	}

	&__text-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-style: italic;
		font-size: 1.4rem;
	}

	&__text--link {
		font-weight: bold;
		color: $secondary-orange;
	}
}

// REGISTER
// REGISTER
// REGISTER

.register {
	margin-top: 80px;
	background-color: $darker-white-color;

	&__container {
		margin-top: 120px;
		min-height: 80vh;
	}

	&__title {
		text-align: center;
		margin-bottom: 30px;
	}

	&__box-main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__label {
		display: inline-block;
		width: 80%;
		max-width: 400px;
		text-align: left;
		// text-transform: uppercase;
		font-weight: bold;
		font-style: italic;
		font-size: 1.4rem;
		margin-bottom: 2px;
	}

	&__input {
		margin-bottom: 20px;
		padding: 2px 4px;
		width: 80%;
		max-width: 400px;
		border-radius: 3px;
		border: 1px solid $main-black;

		&:focus {
			outline: none;
			border: 1px solid $secondary-orange;
			}
	}

	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
    	-webkit-appearance: none;
    	-moz-appearance: none;
    	appearance: none;
    	margin: 0; 
	}
	
	&__box-checkbox {
		display: flex;
		flex-direction: row;
		justify-content: left;
		align-items: center;
		margin: 5px auto;
		width: 80%;
		max-width: 400px;
		font-size: 1.3rem;
		font-style: italic;
	}

	&__input-checkbox {
		margin-right: 5px;
	}

	&__btn {
		@include btn-style;
		margin-top: 20px;
		margin-bottom: 40px;
	}
}

.password {
	margin-top: 80px;
	background-color: $darker-white-color;

	&__container {
		margin-top: 120px;
		min-height: 45vh;
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__title {
		text-align: center;
		margin-bottom: 30px;
	}

	&__input {
		margin-bottom: 5px;
		padding: 2px 4px;
		width: 80%;
		max-width: 400px;
		border-radius: 3px;
		border: 1px solid $main-black;

		&:focus {
			outline: none;
			border: 1px solid $secondary-orange;
			}
	}

	&__label {
		display: inline-block;
		width: 80%;
		max-width: 400px;
		text-align: left;
		// text-transform: uppercase;
		font-weight: bold;
		font-style: italic;
		font-size: 1.4rem;
		margin-bottom: 2px;
	}

	&__text {
		font-size: 1.3rem;
		font-style: italic;
		margin-bottom: 20px;
	}

	&__btn {
		@include btn-style;
	}

}


@keyframes navMobileAnimation {
    from {
        opacity: 0;
        transform: translateY(-60px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes navLanguageAnimation {
	from {
        opacity: 0;
        transform: translateX(60px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}




@media (min-width: 576px) {
	.nav {
		&__logo {
			font-size: 4rem;
		}

		&__logo-name {
			font-size: 3rem;
		}

		&__logo-box {
			@include hover-style;
		}

		&__login {
			@include hover-style;
		}

		&__login, &__mobile-icon, &__item-mobile, &__language-chosen {
			font-size: 1.6rem;
		}

		&__login-box, &__mobile-box, &__language-box {
			margin-top: 10px;
		}

		&__language-box {
			margin-right: 35px;
			@include hover-style;

			&::before {
				top: -5px;
				left: -5px;
			}

			&::after {
				bottom: -4px;
				right: -4px;
			}

			&:hover::before, &:hover::after {
				width: 50%;
				height: 50%;
			}
		}

		&__language-chosen {
			margin-top: 0px;
		}

		&__language-btn-container {
			position: absolute;
			top: 49px;
			left: -31px;
		}
		&__language-btn {
			font-size: 1.6rem;
			padding: 8px 16px;
			width: 110px;
		}


		&__item-mobile {
			padding: 20px;
		}

		&__mobile-items-box {
			left: 0px;
			top: 80px;
		}
	}
}

@media(min-width: 700px) {
	.footer {
		overflow: hidden;
		&__container {
			flex-direction: row;
			justify-content: space-around;
			width: 100vw;
			margin: 30px 0px;
		}

		&__localization-box {
			width: 350px;
			height: 300px;

			.footer__title {
				text-align: left;
			}
		}
	}
}

@media(min-width: 850px){
	.about-us {
		&__container {
			flex-direction: row;
			justify-content: flex-start;
			height: 450px;
		}

		&__img {
			max-height: none;
			height: 100%;
			width: 50%;
		}

		&__text-container {
			margin-bottom: 5%;
		}
	}
}

@media(min-width: 992px) {
	.nav {
		&__items-box {
			display: inline-block;
			margin-left: 10%;
			margin-top: 10px;
		}

		&__mobile-box {
			display: none;
		}
	}

	.header {
		&__img {
			background-image: url('../../dist/img/dent-chair_1920.jpg');
		}

		&__text-box {
			left: 15%;
			top: 35%;
			transform: none;
		}
	}

	.offer {
		&__card-container {
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
		}

		&__card {
			width: 300px;
			height: 410px;

		}

		&__card-img {
			min-height: none;
			max-height: 200px;
		}
	}

	.footer {
		&__container {
			justify-content: space-evenly;
		}

		&__localization-box {
			width: 600px;
		}

		&__text-containers {
			width: 400px;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
	}

	.contact {
		&__form-box {
			align-items: center;
		}

		&__form-title {
			width: 100%;
			max-width: 1000px;
			text-align: left;
		}

		&__form-input, &__form-textarea {
			max-width: 1000px;
		}
	}

	.newsletter {
		&__container {
			flex-direction: column;

		}
		&__text-box {
			width: 50%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 20px;
		}
		&__form-box {
			flex-direction: column;
			width: 50%;
			height: 100%;
			margin-bottom: 50px;
		}
		&__text {
			margin-top: 0;
			font-size: 3.7rem;
			margin: 0;
		}

		&__input {
			height: 30px;
			width: 100%;
		}

		&__btn {
			width: 200px;
		}
	}
}

@media(min-width: 1200px){
	.offer {
		&__card {
			width: 350px;
		}
	}
	.about-us {
		&__container {
			height: 550px;
		}
	}
}








// patryk robocze

.visit {
	padding: 100px 0;
	
}

.history {
	padding: 100px 0;
}




